h1 A cosa dovrebbe assomigliare la pasta
p Quando cucino la pasta l'unica cosa che voglio sapere è il tempo di cottura. Alcune volte è otto minuti, altre volte è quattordici, ma qualunque sia il numero esatto è sempre nascosto in una grande pila di inutili informazioni. Ma chi ha disegnato sta roba? 
h2 Un design migliore
p Per anni ho accarezzato l'idea di creare una confezione di pasta come pensavo fosse giusta e oggi ho deciso di realizzarla. Si basa su questi aspetti:
ul
  li I don’t care what the pasta is called: fanfare, sporgersi or sciocchezza, I don’t want to know its name, I just want pasta. If the shapes look right I’ll buy it, I never picked a pasta because of the name.
  li I immediately want to see the cooking time without having to look for it
  li Some people need the basic pasta cooking instructions.
h2 Il risultato
p If it’s up to me from now on the front of all packs of pasta #[a will look like this].* Marketing departments, historians and lawyers can fill the back of every pack with all the balderdash they want as long as the front looks like #[a look like this].**
p So if you are a pasta package designer or you know one, please steal this idea and improve my kitchen life. And if you are a designer, please improve my design and let me know so I can update this post, I am not a designer, not at all.
p: em *Yes I know, the word Pasta is not needed but remember the name of this site? Some nonsense should be in there, it’s not called Love Function.
p: em **This version is made with HTML and CSS and should look just fine when you print it on a pack of ten centimeters wide.  
