doctype html
html(lang="it")
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block personal
        block link
        block headScript
    body
        .container
            include _modules/_header.pug
            block main
            include _modules/_footer.pug
        block bodyScript

