/**
 * Variabili
 */
$bgc: #f5f6f6; // background-color
$tc: #424242; // text-color

/**
 * Configurazioni della griglia con Susy.
 */
$susy: (
  columns: 12,
  container: 100%,
  gutters: 1/2,
  gutter-position: after,
  global-box-sizing: border-box
);

/**
 * Breakpoints comuni (https://goo.gl/pVFYw8)
 * Questi sono usati da typi e sono i breakpoint principali.
 * I tweakpoint sono per piccoli aggiustamenti.
 */
$breakpoints: (
  tp: 600px, // for-tablet-portrait-up // 33.333em
  tl: 900px, // for-tablet-landscape-up // 50.000em
  dk: 1200px, // desktop-up // 66.667em
  bdk: 1900px // big-desktop-up // 105.556em
);

$tweakpoints: (

);

// Breakpoints short version
$tp: map_get($breakpoints, tp);
$tl: map_get($breakpoints, tl);
$dk: map_get($breakpoints, dk);
$bdk: map_get($breakpoints, bdk);


/**
 * Configurazioni della tipografia base responsive con Typi.
 */
$typi: (
  null: (16px, 1.4),
  tp: 18px,
  tl: 18px,
  dk: 18px,
  bdk: 18px
);

/**
 * Configurazioni della scala tipografica.
 */
$ms-base: 1em;
$ms-ratio: $major-third;

// H1, text-1
$h1-map: (
  null: ms(0),
  tp: ms(0),
  tl: ms(0),
  dk: (ms(2), vr(1.4))
);

/**
 * Configurazioni per la gestione degli z-index
 */
